<div *ngIf="!isVoted">
  <button class="fa fa-thumbs-up" style="color:forestgreen;" (click)="upVote()"></button>
  <button class="fa fa-thumbs-down" style="color:orangered;" (click)="downVote()"></button>
</div>

<div *ngIf="showloader" class="alert alert-primary" role="alert">
  Thank you for your feedback. You can also click on the feedback link below and add your comments.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

</div>


